<p style="color: green"><%= notice %></p>

<p>
  <%= link_to "Back to organizers", organizers_path %>
</p>

<%= render @organizer %>

<p>
  <%= link_to "Edit this organizer", edit_organizer_path(@organizer) %>
</p>

<p>
  <%= link_to "Merge portal", merge_organizer_path(@organizer) %>
</p>

<p>
  <%= link_to "Paragon portal", paragon_organizer_path(@organizer) %>
</p>

<p>
  <%= button_to "Destroy this organizer", @organizer, method: :delete %>
</p>
